.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-title {
  margin-bottom: 60px;
}

.App-controls {
  display: flex;
  justify-content: space-between;
}

.App-open,
.App-close,
.App-stop {
  margin: 20px;
  background: #f00;
  color: #fff;
  padding: 50px;
  border-radius: 50%;
}

.App-open {
  background: #0f0;
}

.App-close {
  background: #f0f;
}

.App-stop {
  margin-top: -40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
