@import "./constants/constants.scss";
@import "./Forms.scss";

.Locks {
  @include padding;
  margin-top: 40px;
}

.Locks__Header {
  @include H2;
}

.Locks__Subheader {
  @include H3;
}

.Locks__Spinner {
  margin: 40px 0;
}

.Bridge {
}

.Text {
  font-size: 14px;
}

.Password-Hint {
  font-size: 12px;
  text-align: justify;
  margin: -10px 0 30px 0;
}

.WifiSetup-Name {
  background: $third-color;
  color: #000;
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px 0;
  display: inline-block;
}
