@import "./constants/constants.scss";

.Locks {
  @include padding;
  margin-top: 40px;
}

.Locks__Header {
  @include H2;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.Locks__Lock {
  display: block;
  margin: 40px auto;
}

.Locks__Lock--disconnected {
  color: $third-color;
}

.LockControl {
  overflow: hidden;
}

.LockControl__Icon {
  position: relative;
  display: block;
  margin: 40px auto;
  color: $third-color;
}
