$tablet-width: 768px;
$desktop-width: 1160px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin padding {
  padding: 0 20px;

  @include tablet {
    padding: 0 20px;
  }

  @include desktop {
    padding: 0 30px;
  }
}
