@import "./constants/constants.scss";

body {
  background-color: $primary-color;
  color: $text-color;
}

::placeholder {
  color: $text-color;
  opacity: 0.75;
}

.Layout {
  display: flex;
  flex-direction: column;
  max-width: $desktop-width;
  margin: 20px auto;

  @include tablet {
    margin-top: 100px;
  }

  @include desktop {
    margin-top: 100px;
  }
}

.Layout-Header {
  display: flex;
  justify-content: space-between;
  @include padding;
}
