@import "./constants/constants.scss";

.Settings {
  @include padding;
  margin-top: 40px;
}

.Settings__Header {
  @include H2;
  text-align: center;
  max-width: 80%;
  margin: 40px auto;
  padding-bottom: 40px;
}
