$primary-color: #2e283f;
$secondary-color: #5439af;
$third-color: #af3993;
$fourth-color: #93af39;
$text-color: #fff;
$validation-error: #f0333f;
$validation-error-opacity: rgba(240, 51, 63, 0.15);
$modal-background: #fff;
