@mixin H1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin H2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin H3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin Body {
  font-size: 14px;
}

@mixin Body1Plus {
  font-size: 16px;
}

@mixin Body2Plus {
  font-size: 18px;
}

.Strong {
  font-weight: bold;
}
